.entry-list {
  display: flex;
  flex-direction: column;
}

.entry {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  gap: 2rem;
}

.headerInfo {
  display: flex;
  flex: 1 1 45%;
  min-width: 200px;
}

.entryBody {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rowGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #D9D9D9;
}

.row {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 200px;
}

.label {
  font-size: 0.85rem;
  color: #666666;
}

.value {
  font-size: 1rem;
  color: #3A3A3A;
}
