.cardWrapper {
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
}

.formSection {
  margin: 1rem 0;
}

.switchContainer {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.rememberLabel {
  margin-left: 0.75rem;
  color: #374151;
}
